# config file for ansible -- https://ansible.com/
# ===============================================
[defaults]
remote_user = ansible 
inventory = ./inventory/inventory.yaml
iprivate_key_file = ~/.ssh/ansiblekey

[privilege_escalation]
become = True
become_method = sudo
